CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_mt7622=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_mediatek_mt7622_DEVICE_bananapi_bpi-r64=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_mt7622_DEVICE_bananapi_bpi-r64=""
CONFIG_TARGET_DEVICE_mediatek_mt7622_DEVICE_linksys_e8450=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_mt7622_DEVICE_linksys_e8450=""
CONFIG_TARGET_DEVICE_mediatek_mt7622_DEVICE_linksys_e8450-ubi=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_mt7622_DEVICE_linksys_e8450-ubi=""
CONFIG_TARGET_DEVICE_mediatek_mt7622_DEVICE_buffalo_wsr-2533dhp2=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_mt7622_DEVICE_buffalo_wsr-2533dhp2=""
CONFIG_TARGET_DEVICE_mediatek_mt7622_DEVICE_elecom_wrc-2533gent=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_mt7622_DEVICE_elecom_wrc-2533gent=""
CONFIG_TARGET_DEVICE_mediatek_mt7622_DEVICE_mediatek_mt7622-rfb1=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_mt7622_DEVICE_mediatek_mt7622-rfb1=""
CONFIG_TARGET_DEVICE_mediatek_mt7622_DEVICE_mediatek_mt7622-rfb1-ubi=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_mt7622_DEVICE_mediatek_mt7622-rfb1-ubi=""
CONFIG_TARGET_DEVICE_mediatek_mt7622_DEVICE_ruijie_rg-ew3200gx-pro=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_mt7622_DEVICE_ruijie_rg-ew3200gx-pro=""
CONFIG_TARGET_DEVICE_mediatek_mt7622_DEVICE_totolink_a8000ru=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_mt7622_DEVICE_totolink_a8000ru=""
CONFIG_TARGET_DEVICE_mediatek_mt7622_DEVICE_ubnt_unifi-6-lr-v1=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_mt7622_DEVICE_ubnt_unifi-6-lr-v1=""
CONFIG_TARGET_DEVICE_mediatek_mt7622_DEVICE_ubnt_unifi-6-lr-v1-ubootmod=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_mt7622_DEVICE_ubnt_unifi-6-lr-v1-ubootmod=""
CONFIG_TARGET_DEVICE_mediatek_mt7622_DEVICE_ubnt_unifi-6-lr-v2=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_mt7622_DEVICE_ubnt_unifi-6-lr-v2=""
CONFIG_TARGET_DEVICE_mediatek_mt7622_DEVICE_ubnt_unifi-6-lr-v2-ubootmod=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_mt7622_DEVICE_ubnt_unifi-6-lr-v2-ubootmod=""
CONFIG_TARGET_DEVICE_mediatek_mt7622_DEVICE_xiaomi_redmi-router-ax6s=y
CONFIG_TARGET_DEVICE_PACKAGES_mediatek_mt7622_DEVICE_xiaomi_redmi-router-ax6s=""
CONFIG_DEVEL=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
# CONFIG_ALL is not set
# CONFIG_ALL_KMODS is not set
# CONFIG_ALL_NONSHARED is not set
# CONFIG_IMAGEOPT is not set
# CONFIG_PACKAGE_libatomic is not set
# CONFIG_PACKAGE_libc is not set
# CONFIG_PACKAGE_libgcc is not set
# CONFIG_PACKAGE_libgomp is not set
# CONFIG_PACKAGE_libpthread is not set
# CONFIG_PACKAGE_librt is not set
# CONFIG_PACKAGE_libstdcpp is not set
# CONFIG_PACKAGE_nftables-nojson is not set
# CONFIG_SIGNED_PACKAGES is not set
CONFIG_PACKAGE_kmod-nft-fullcone=m