CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_DEVICE_x86_64_DEVICE_generic=y
CONFIG_TARGET_DEVICE_PACKAGES_x86_64_DEVICE_generic=""
CONFIG_DEVEL=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
# CONFIG_ALL is not set
# CONFIG_ALL_KMODS is not set
# CONFIG_ALL_NONSHARED is not set
# CONFIG_IMAGEOPT is not set
# CONFIG_PACKAGE_libatomic is not set
# CONFIG_PACKAGE_libc is not set
# CONFIG_PACKAGE_libgcc is not set
# CONFIG_PACKAGE_libgomp is not set
# CONFIG_PACKAGE_libpthread is not set
# CONFIG_PACKAGE_librt is not set
# CONFIG_PACKAGE_libstdcpp is not set
# CONFIG_PACKAGE_nftables-nojson is not set
# CONFIG_SIGNED_PACKAGES is not set
CONFIG_PACKAGE_kmod-nft-fullcone=m